.mod_hd {
  height: 50px;
}
.mod_hd_wrap {
  z-index: 19;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #252535;
  color: #fff;
  box-shadow: 0 3px 8px 0 #ccc;
}
.mod_hd_cont {
  display: flex;
  margin: 0 auto;
  max-width: 1120px;
  height: 100%;
}
.mod_hd_logo {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 100%;
  background: #FF4400;
  cursor: pointer;
}
.mod_hd_logo i {
  flex-grow: 1;
  display: block;
  width: 30px;
  height: 30px;
  background: url(~assets/rocket.png);
  background-size: 100%;
}
.mod_hd_logo div {
  margin-left: 5px;
  line-height: 50px;
  font-size: 20px;
}
.mod_hd_nav {
  flex-grow: 1;
  display: flex;
  height: 50px;
}
.mod_hd_nav_ul {
  display: flex;
  width: 100%;
  height: 100%;
}
.mod_hd_nav li {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #757393;
}
.mod_hd_nav li.active {
  color: #fff;
}
.mod_hd_info {}
.mod_hd_info_user {
  position: relative;
  i {
    font-size:20px;
    vertical-align:middle;
  }
}
.mod_hd_info_user_main {
  padding: 0 10px;
  line-height: 50px;
  cursor: pointer;
}
.mod_hd_info_user_text {
  margin-left:5px;
  color:#afaec5;
}

/* 登录框 */
.mod_signin {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mod_signin_bg {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, .7);
}
.mod_signin_wrap {
  position: absolute;
  top: 30%; left: 0; right: 0;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background: #252535;
}
.mod_signin_erp {
  padding: 5px 0;
  width: 100%;
  font-size: 12px;
  border: 0;
  border-radius: 0;
  color: #fff;
  background-image: linear-gradient(#03a9f4,#03a9f4), linear-gradient(#D2D2D2,#D2D2D2);
  background-color: rgba(0,0,0,0);
  background-size: 0 1px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center bottom;
  transition: background 0s ease-out;
  &:hover, &.haserror, &.passvalid {
    background-size: 100% 1px, 100% 1px;
    transition-duration: .3s;
  }
  &:focus {
    background-image: linear-gradient(#03a9f4, #03a9f4), linear-gradient(#d2d2d2,#d2d2d2);
  }
  &.haserror {
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#d2d2d2,#d2d2d2);
  }
  &.passvalid {
    background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#d2d2d2,#d2d2d2);
  }
}
.mod_signin_submit {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  font-weight: bold;
  background: #fff;
  border: 0;
  color: #252535;
  cursor: pointer;
}
