/* You can add global styles to this file, and also import other style files */
/*===================
  样式重置
===================*/
* {-webkit-tap-highlight-color:transparent;outline:0;margin:0;padding:0;vertical-align:baseline;box-sizing:border-box;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin:0;padding:0;vertical-align:baseline;}
img {border:0 none;vertical-align:top;}
i, em {font-style:normal;}
ol, ul {list-style:none;}
input, select, button, h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;font-family:inherit;}
table {border-collapse:collapse;border-spacing:0;}
a {text-decoration:none;color:#5790C5;}
a:hover{color:#154673;}
body {margin:0 auto;min-width:320px;height:100%;font:14px/1.5 Helvetica,'STHeiti STXihei','Microsoft JhengHei','Microsoft YaHei',Arial,sans-serif;color:#666;}

/* GIT modify */
input[type="text"].inp, input[type="password"].inp, input[type="tel"].inp, select, textarea {padding:7px 8px;font-size:13px;color:#333;vertical-align:middle;background-color:#fff;background-repeat:no-repeat;background-position:right 8px center;border:1px solid #ccc;border-radius:3px;outline:none;box-shadow:inset 0 1px 2px rgba(0,0,0,0.075);}
input[type="text"].inp:focus, input[type="password"].inp:focus, input[type="tel"].inp:focus, select:focus, textarea:focus {border-color:#51a7e8;box-shadow:inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);}
button.btn {background:#ff4400;color:#fff;border-radius:3px;border:0;cursor:pointer;}
button.btn:hover {background:#dd4400;}
