.apply {
  padding: 0 4% 30px;
  dl {
    margin: 15px 0;
    > dt {
      margin: 0 0 6px;
      font-weight: bold;
      font-size: 16px;
      > dd {
        margin-left: 0;
      }
    }
  }
}
.apply_form {
  margin-top: 20px;
}
.apply_form_submit {
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  cursor: pointer;
  background: #ff4400;
  text-align: center;
}

.apply_header{padding: 20px;
  background: #FFFFFF;
color: #B53B3B;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}
    .apply_header h2{font-size: 16px;
      text-align: center;
    font-weight: normal;
    padding: 10px 0;
  }
    .apply_header p{font-size: 12px;
      text-align: center;
    color: #C0C0C0;
  }
    #num{font-size: 20px;
      display: block;
    text-align: center;
    color: #B53B3B;
    margin: 0 20px;
    border-bottom: 1px solid #B53B3B;
    padding: 10px 0;
    font-family: Georgia, "Trebuchet MS";
  }
.notice{text-align: center;
  font-size: 20px;
padding: 100px 0 20px;
background-image: url(~assets/bow.png);
background-repeat: no-repeat;
background-position: center;
}

#refresh, #checkthis{display: block;
  text-align: center;
margin: 20px;
padding: 10px 0;
border: 1px solid #666666;
border-radius: 4px;
}
    #refresh:active, #checkthis:active{background: #FFFFFF;
    }


/* 整理区 */
.formfield_desc {
  width: 100%;
  font-size: 13px;
  line-height: 21px;
  min-height: 100px;
  resize: vertical;
}



.apply_submiting{z-index: 4;
  width: 130px;
height: 66px;
line-height: 66px;
position: fixed;
top: 50%;
left: 50%;
background: rgba(0,0,0,0.5);
border-radius: 5px;
font: 0/0 a;
text-align: center;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
    .apply_submiting:after{width: 26px;
      height: 26px;
    border-radius: 26px;
    border: 2px solid #FFFFFF;
    border-top: none;
    border-right: none;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: rotate linear 1s infinite;
    animation: rotate linear 1s infinite;
  }
    @-webkit-keyframes rotate{
      0%{-webkit-transform: translate(-50%, -50%) rotate(0deg);}
      100%{-webkit-transform: translate(-50%, -50%) rotate(360deg);}
    }
    @keyframes rotate{
      0%{transform: translate(-50%, -50%) rotate(0deg);}
      100%{transform: translate(-50%, -50%) rotate(360deg);}
    }


.inp.dsbu {
  width: 100%;
}
.highlight {
  color: #ff4400;
}
.apply_editor {
  height: 150px;
  border-radius: 3px;
}

/* 业务选择 */
.dropdown {
  position: relative;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  cursor: pointer;
  &.active {
    border-bottom-color: transparent;
    .dropdown_triangle {
      transform: rotateX(180deg);
    }
    .dropdown_menu {
      display: block;
    }
  }
}
.dropdown_triangle {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  border-bottom: 6px solid #ccc;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: 0.3s ease;
}
        .dropdown_text {
          padding: 7px 8px;
        }
.dropdown_menu {
  display: none;
  z-index: 110;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0 -1px;
  width: calc(100% + 2px);
  max-height: 15em;
  border-radius: 0 0 3px 3px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  overflow: auto;
}
.dropdown_menu_item {
  padding: 7px 8px;
  border-top: 1px solid #fafafa;
  &.selected {
    background: rgba(#000, .03);
  }
}
.addsbu {
  display: flex;
  line-height: 1;
  input {
    flex-grow: 1;
    padding: 0 8px;
  }
  button {
    margin-left: 10px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    background: #ff4400;
  }
}

/* 提交成功弹层 */
.apply_succpop {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.3);
}
.apply_succpop_main {
  position: relative;
  top: 25%;
  margin: 0 auto;
  width: 92%;
  max-width: 690px;
}
.apply_succpop_main_wrap {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
            .apply_succpop_top {
              padding: 0 10px;
              height: 40px;
            line-height: 40px;
            background: #384346;
            color: #fff;
          }
            .apply_succpop_cont {
            }
                .apply_succpop_cont_text {
                  padding: 15px 10px;
                  line-height: 2;
                border-left: 2px solid #252535;
                border-right: 2px solid #ff4400;
                background: #fafafa;
              }
                    .apply_succpop_cont_text_num {
                      text-align: center;
                      color: #ff4400}
                .apply_succpop_cont_continue, .apply_succpop_cont_checknow {
                  height: 40px;
                  line-height: 40px;
                text-align: center;
              }
                .apply_succpop_cont_continue {
                  background: #252535;
                  color: #afaec5;
              }
                .apply_succpop_cont_continue:hover {
                  background: #2F2F44;
                  color: #afaec5;
              }
                .apply_succpop_cont_checknow {
                  background: #ff4400;
                  color: #f8f8f8;
              }
                .apply_succpop_cont_checknow:hover {
                  background: #dd4400;
                  color: #f8f8f8;
              }
